/* h1{
    color: aquamarine;
    font-size: 40px;
} */
:root {
    --text-color: rgba(39, 228, 127, 10);
}

html{
    
}

.hello{

    font-size: calc(20px + 20px);
    /* background: linear-gradient(to top, red, green,blue); */
    color: var(--text-color);

}

a::after{
    content: "("attr(href)")";
}

.box{
    width: calc(100px+100px);
    height: 200px;
    background-color: red;
}
.box::after{
    content: attr(data-title);
}

img{
    width: 60%;
    height: 60%;
}